@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    background-image: url(../img/bg-repeat.jpg);
    background-size: 100% 100%;
    min-height: 100%;

    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 60px;
}


h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    padding-bottom: 10px;
}

.texto,
.obrigatorio {
    text-transform: lowercase;
    font-size: 15px;

}

.formulario {
    background-color: #fff;
    width: 340px;
    height: 440px;

    padding: 20px;


}

.aviso {
    color: #ff0000;
    font-size: 10px;
    padding-bottom: 5px;
    /* visibility: hidden; */

}


/* mexer dentro do quadrado branco */
input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 1px 0;
    border: 2px solid #000;
    border-radius: 5px;
}

textarea {
    margin-top: -10px;
}

.obrigatorio {
    color: #000;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 13px;
}


button {
    background-color: #3CCC87;
    color: #fff;
    border: none;

    width: 298px;
    height: 41.13px;
    
    border-radius: 5px;
    cursor: pointer;

}